.brownies{
    color:rgb(83, 71, 0);
    font-size: 30px;
    font-weight: bold;
}

.pancakes{
    color:orange;
    font-size: 30px;
    font-weight: bold;
}

.pretzels{
    color:rgb(168, 78, 5);
    font-size: 30px;
    font-weight: bold;
}

.header{
    color:blue;
    font-size: 50px;
    font-weight: bolder;
    background-color: red;
}